@model TrafalgarSquare.Web.ViewModels.TopPostViewModel

<div class="row top-joke-entity-box">
    <div class="col-md-3">
        <img class="image-left-small-box" src="https://s-media-cache-ak0.pinimg.com/236x/a0/28/ef/a028ef15ef6444130b7297ba19fd8bec.jpg" alt="">
    </div>

    <div class="col-md-6">
        <a href="/Posts/@Model.Id">@Model.Title</a>
    </div>

    <div class="col-md-1">
        <span class="badge">@Model.LikesCount <small class="glyphicon glyphicon-thumbs-up"></small></span>
        <br>
        <small>author: @Model.PostOwner.UserName</small>
    </div>
</div> 
<hr>