@model TrafalgarSquare.Web.ViewModels.Message.MessageViewModel
<div class="row message">
    <div class="col-md-1">
        <img class="image-left-small-box" src="@Model.Sender.AvatarUrl" alt="message-avatar-@Model.Sender.Username">
    </div>

    <div class="col-md-8">
        <a href="/User/Profile/@Model.Sender.Username">@Model.Sender.Username</a>
        <p>@Html.Encode(Model.Text)</p>
    </div>
    <div class="col-md-1">
        <span class="badge"><time class="col-md-2">@Model.SendDateTime</time> </span>
    </div>
</div>