@using TrafalgarSquare.Web.ViewModels
@model List<CommentViewModel>
@{
    Layout = null;
}

<div data-example-id="media-alignment" class="bs-comments">
    @if (Model.Count == 0)
    {
        <div class="media">
            <div class="media-body">
                There are no comments yet...
            </div>
        </div>
    }
    else
    {
        foreach (var comment in Model)
        {
            <div class="media">
                @if (!string.IsNullOrEmpty(comment.User.AvatarUrl))
                {
                    <div class="media-left media-middle">
                        <img src="@comment.User.AvatarUrl" />
                    </div>
                }
                <div class="media-body">

                    <span class="text-info">@comment.Text</span>
                </div>

                    <div class="text-muted media-bottom">
                        Username: @comment.User.Username<br />
                        Date: @comment.CreatedOn
                    </div>
            </div>
        }
    }

</div>

