@model IEnumerable<TrafalgarSquare.Web.ViewModels.TopPostViewModel>

<div class="col-md-3" id="left-menu-box">

    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">TOP 10 JOKES <br> OF ALL TIME</h3>
        </div>
    </div>

    @if (!Model.Any())
    {
        @:<p>No Posts for Rank!</p>
    }
    else
    {
        <div class="list-group">
            @Html.DisplayFor(t => t)
        </div>
    }

    <!-- Random Joke -->

    <h3>Random Joke: </h3>
    <a href="път с ID до точно този майтап">
        <img id="random-joke-image" class="img-thumbnail" src="http://www.anyjokes.net/wp-content/uploads/2013/01/computer-games.jpg" alt="">
    </a>
</div>