<blockquote>
    <p>
        “Програмист звъни в библиотеката.<br />
        - Здравейте, Ваня там ли е?<br />
        - Тя е в архива.<br />
        - Разархивирайте я, моля. Трябва ми спешно! :))”
    </p>
</blockquote>
