
@{
    ViewBag.Title = "TrainersQuotesView";
}

<h2>TrainersQuotesView</h2>
<hr />
<h3>Заглавие на поста (joke)</h3>
<p>Nullam quis risue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<div class="post-box">

    <ul class="nav nav-pills">
        <li class="active"><a href="#">This Joke Likes <span class="badge">42</span></a></li>
    </ul>
    <br />
    @Html.Partial("_TrainersQuotesMediaPartial")
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>
    <br />
    <br />
</div>
<ul class="list-group" id="author-post">
    <li class="list-group-item">
        <span class="badge">All total jockes likes 154</span>
        <strong>Author: </strong>Pesho
    </li>
</ul>

<a href="#" class="btn btn-primary btn-sm">Report something</a>

<h2>Joke Comments</h2>
<div class="panel panel-warning" id="comment-box">
    <div class="panel-heading">
        <h3 class="panel-title">Goshko says (12-06-2015)</h3>
    </div>
    <div class="panel-body">
        Nullam quis risue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id ue penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
    </div>
</div>

